scrollback_editor "hx"
layout {
    tab name="Tab #1" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane command="broot" size="20%" {
                args "--conf" "/usr/fpath/zellij.hjson"
            }
            pane edit="." focus=true size="50%" {
            }
            pane
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
